<nav class="navbar">
    <li><img src="../.../../../../assets/img/BlogIt (2).png" id="logo-img"></li>
    <li id="items">
        <a routerLink="/account-settings"><i class="fas fa-gear"></i></a>
        <a routerLink="/profile"><i class="fas fa-bell"></i></a>
        <a routerLink="/profile"><i class="fas fa-user"></i></a>
    </li>
</nav>

<span class="sidebar">
    <li id="mat-btn">
        <button mat-raised-button color="white" id="mat-bt"><mat-icon>home</mat-icon>Home</button>
        <button routerLink="/user-dash" mat-raised-button color="white" id="mat-bt"><mat-icon>article</mat-icon>My Blogs</button>
        <button mat-raised-button color="white" id="mat-bt"><mat-icon>bookmark</mat-icon>Bookmarks</button>
        <button mat-raised-button color="white" id="mat-bt"><mat-icon>feedback</mat-icon>Feedback</button>
    </li>
    <div class="category">
        <h3>Category</h3>
    </div>
    <div class="trending">
        <li>
            <h3>Trending posts <button mat-button color="primary">see all</button></h3>
        </li><br><br>
        <li>
            <h3>Suggested people <button mat-button color="primary">see all</button></h3>
        </li>
    </div>
</span>