
#items, a {
    display: inline;
    padding: 10px 10px;
}

#items {
    right: 0%;
    position: fixed;
}

li, img {
    display: inline;
    position: relative;
}

#logo-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.sidebar {
    padding: 10px 10px;
    position: fixed;
}

 #mat-bt:hover {
    background-color: blue;
    color: white;
 }

 #mat-bt {
    display: block;
    position: relative;
    width: 200px;
    justify-content: left;
    text-align: left;
 }
 .trending {
    position: fixed;
    right: 2%;
    display: block;
    top: 13%;
 }

